<html>

<body>
    <h1>Enter another password to store! You can trust us!</h1>
    <form method="POST" action="/passwords/{{username}}">
        <input type="text" name="username" placeholder="Username">
        <input type="text" name="password" placeholder="Password">
        <input type="text" name="service" placeholder="Service">
        <input type="submit" value="Submit">
    </form>
    <h1>Your passwords!</h1>
    {% for password in passwords %}
    <p><b>Service:</b> {{password.service}} <b>Username:</b> {{password.username}} <b>Password:</b>
        {{password.password}}</p>
    {% endfor %}
</body>

</html>